// set custom hex colors
$siteBgColorCustom:    #F5F5F0;   // white
$sidebarBgColorCustom: #9ECDDC;   // blush
$textColorCustom: #205072;        // deep gray
$sidebarTextColorCustom: #2C6975; // deep gray
$headlineColorCustom: #205072;    // deep blue
$headingColorCustom: #2C6975;     // bright blue
$bodyLinkColorCustom: #E9765B;    // bright blue
$navLinkColorCustom: #E9765B;     // bright blue
$sidebarLinkColorCustom: #E9765B; // deep blue
$footerTextColorCustom: #205072;  // deep gray
$buttonTextColorCustom: #205072;  // white
$buttonHoverTextColorCustom: #E9765B;
$buttonBgColorCustom: #E9765B;    // deep blue
$buttonHoverBgColorCustom: #C2C8C5;// bright blue


$borderColorCustom: #205072;      // gold
