// set custom hex colors
$siteBgColorCustom:    #9ECDDC;   // white
$sidebarBgColorCustom: #E9765B;   // blush

$textColorCustom: #205072;        // deep gray
$sidebarTextColorCustom: #2C6975; // deep gray
$headlineColorCustom: #205072;    // deep blue
$headingColorCustom: #2C6975;     // bright blue
$bodyLinkColorCustom: #E9765B;    // bright blue
$navLinkColorCustom: #205072;     // bright blue
$sidebarLinkColorCustom: #205072; // deep blue
$footerTextColorCustom: #205072;  // deep gray
$buttonTextColorCustom: #205072;  // white
$buttonHoverTextColorCustom: #E9765B;
$buttonBgColorCustom: #E9765B;    // deep blue
$buttonHoverBgColorCustom: #C2C8C5;// bright blue


$borderColorCustom: #205072;      // gold
